/* Debug */
/* * * {
  background-color: rgba(0, 0, 0, 0.2);
} */

/* Reset */
body,
ul,
h1,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Commons */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}


/* Layout */
.l_wrapper {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

.l_row {
  margin: 0 -10px -20px -10px;
}

.l_row:after {
  content: ' ';
  display: table;
  clear: both;
}

.l_col {
  float: left;
  width: 25%;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.l_col_12_12 {
  width: 100%;
}
.l_col_11_12 {
  width: 91.66666667%;
}
.l_col_10_12 {
  width: 83.33333333%;
}
.l_col_9_12 {
  width: 75%;
}
.l_col_8_12 {
  width: 66.66666667%;
}
.l_col_7_12 {
  width: 58.33333333%;
}
.l_col_6_12 {
  width: 50%;
}
.l_col_5_12 {
  width: 41.66666667%;
}
.l_col_4_12 {
  width: 33.33333333%;
}
.l_col_3_12 {
  width: 25%;
}
.l_col_2_12 {
  width: 16.66666667%;
}
.l_col_1_12 {
  width: 8.33333333%;
}

/* Typography */
:root {
  font-size: 62.5%; /* 10px */
}

body {
  font-size: 1.4rem;
}

body {
  background-color: #222;
}

/* Components */
.header {
  position: relative;
  background-color: rgb(49, 55, 62);
  color: white;
}

.header-logo {
  display: inline-block;
  margin: 24px 8px;
}

.header-point {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  transition: transform .4s;
}

.gnb {
  background-color: rgb(39, 44, 50);
  color: rgb(129, 132, 136);
  font-size: 12px;
}

.gnb-menu {
    white-space: nowrap;
    overflow: auto;
}

.gnb-menu li {
  display: inline-block;
}

.gnb-link {
  padding: 12px 16px;
  display: block;
}

.gnb-link.is_selected {
  background-color: rgb(28, 31, 35);
  color: white;
}

.section {
  padding: 20px 0; 
  min-height: calc( 100vh - 240px ); 
  background-color: rgb(28, 31, 35);
}

.ani {
  display: block;
  border-radius: 16px;
  overflow: hidden;
  background-color: rgb(17, 17, 17);
}

.ani_red    { color: darkred; }
.ani_blue   { color: dodgerblue; }
.ani_purple { color: violet; }
.ani_orange { color: orange; }

.ani-cover {
  max-width: 100%;
  height: auto;
  border-bottom: 5px solid;
  vertical-align: top;
}

.ani-info {
  margin: 8px;
}

.ani-title {
  font-size: 16px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ani-description {
  font-size: 12px;
  color: rgb(105, 105, 105);
  overflow: hidden;
  line-height: 1.4;
  height: 7em;
}


.detail {
  border-radius: 16px;
  overflow: hidden;
  background-color: rgb(238, 238, 238);
}

.detail_green { color: green; }

.detail-cover {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.detail-info {
  margin: 8px;
  position: relative;
}

.detail-icon {
  float: left;
  margin: -60px 8px auto 8px;
}

.detail-contents {
    overflow: hidden;
}

.detail-subject {
    overflow: hidden;
}

.detail-title {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.detail-subject-sidebar {
    float: right;
}

.detail-subtitle {
  font-size: 14px;
  color: rgb(177, 177, 177);
}

.detail-description {
  font-size: 12px;
  color: rgb(105, 105, 105);
  overflow: hidden;
  line-height: 1.4;
}

.rating,
.rating:before {
    background-image: url(images/star.png);
    width: 100px;
    height: 20px;
    overflow: hidden;
}

.rating:before {
    content: ' ';
    display: block;
    width: 0;
    background-position: left bottom;
}

.rating_1:before { width: 20%; }
.rating_2:before { width: 40%; }
.rating_3:before { width: 60%; }
.rating_4:before { width: 80%; }
.rating_5:before { width: 100%; }

.footer {
  border-top: 1px solid rgb(102, 102, 102);
  background-color: rgb(28, 31, 35);
  color: rgb(102, 102, 102);
  font-size: 12px;
  padding: 16px 0;
}

/* media */
@media (max-width: 780px) {
  :root {
    font-size: 80%;
  }
  
  .header-point{
    transform: translateY(-100%);
  }

  .header, .detail {
    text-align: center;;
  }

  .rating {
    position: relative;
    margin: 0 auto;
  }

  .gnb {
    margin: 0 -8px;
  }

  .detail-icon,
  .detail-title,
  .detail-subject-sidebar {
    float: none;
  }
    
  .detail-title {
    margin-bottom: 8px;
  }

  .detail-description {
    margin-top: 16px;
  }

  .l_col_mobile_12_12 {
    width: 100%;
  }
  .l_col_mobile_11_12 {
    width: 91.66666667%;
  }
  .l_col_mobile_10_12 {
    width: 83.33333333%;
  }
  .l_col_mobile_9_12 {
    width: 75%;
  }
  .l_col_mobile_8_12 {
    width: 66.66666667%;
  }
  .l_col_mobile_7_12 {
    width: 58.33333333%;
  }
  .l_col_mobile_6_12 {
    width: 50%;
  }
  .l_col_mobile_5_12 {
    width: 41.66666667%;
  }
  .l_col_mobile_4_12 {
    width: 33.33333333%;
  }
  .l_col_mobile_3_12 {
    width: 25%;
  }
  .l_col_mobile_2_12 {
    width: 16.66666667%;
  }
  .l_col_mobile_1_12 {
    width: 8.33333333%;
  }
  .l_col_mobile_none {
    display: none;
  }
}
